Specific Documents Page.

<div class="container">
  <div class="col-md-11 col-md-offset-0.5">
      <% @document.paragraphs.each do |paragraph| %>
        
        <div class="row">
          <div class="col-xs-8 paragraph_body" data-target="#comment_for_paragraph_<%=paragraph.id%>"> <%= paragraph.body %></div>
          <div id="comment_for_paragraph_<%=paragraph.id%>" class="col-xs-4 comment_bar">
            <% paragraph.comments.each do |comment| %>
            <div>
              <div>
                <%= comment.content %>
                
              </div>
              <div class="col-xs-12 comment_user">

                - <em><%= User.find(comment.user_id).username%></em>
              </div>
            </div>
              
            <% end %>
            <button type="button" onclick="$('#comment_form_<%= paragraph.id%>').toggle();" class="btn btn-default btn-sm">
              <span class="glyphicon glyphicon-plus-sign"></span>
            </button>
            <form class="comment_form" id="comment_form_<%= paragraph.id%>" role="form" method="post" action="/comment">
              <textarea class="form-control" rows="1" name="comment"></textarea>
              <input type="hidden" name="paragraph_id" value=<%=paragraph.id%>>
              <div><input type="submit" class="btn btn-info" value="Submit"></div>
             </form>
          </div>
        </div>   
      <% end %> 
  </div>
</div>

<script>
$( ".paragraph_body" ).click(function() {
  var target = $( this ).attr("data-target");
  $(target).toggle();
});
</script>